$main-color: #d64200;
$hover-color: #d77b50;
$main-font: "Roboto", sans-serif;
$spec-color: #c8c4c5;
$menu-color: #ffffff;
$font-p-size: clamp(0.9rem, 1.05rem, 1.15rem);
$font-h-size: clamp(1.15rem, 1.25rem, 1.5rem);
$font-section-h: clamp(1.1rem, 1.2rem, 1.35rem);
$font-a-size: clamp(0.8rem, 0.85rem, 0.9rem);
$adaptive-p-font: clamp(1.1rem, 1.25rem, 1.35rem);
$adaptive-h-font: clamp(1.8rem, 2rem, 2.5rem);
$adaptive-section-font: clamp(1.3rem, 1.4rem, 1.55rem);
$adaptive-a-font: clamp(1.1rem, 1.25rem, 1.5rem);
$nav-width: 20%;
$main-width: 80%;
$padding: 0.75rem;
$line-height: 1.6;
$hr-opacity: 0.4;
$hover-weight: 600;
